#!/usr/bin/env ruby
require "digest/sha1"


preprocess do
  use_git_data
  @items.each { |item| item[:base_36_code] = base_36_code(item) }
  generate_yearly_archive sorted_posts, :created_at, "Jahr"
  generate_weekly_archive sorted_posts, :created_at, "KW"
end


compile "/htaccess.*" do
  filter :erb
end

compile "/feed.*" do
  filter :erb
end

compile "/feed/**/*" do
  filter :erb
end

compile "/snippets/**/*" do
  filter :erb
  filter :kramdown
end

compile '/' do
  filter :erb
  filter :kramdown, {
    :smart_quotes => 'sbquo,lsquo,bdquo,ldquo',
  }
  filter :add_figure_to_img
  layout '/default.*'
end

compile '/**/*' do
  if item.binary?
    # don’t filter binary items
  elsif ['php', 'css'].include? item[:extension]
    # don’t filter excluded filetypes
  elsif item[:extension] == 'html'
    layout '/default.*'
  else
    filter :erb
    filter :kramdown, {
      :smart_quotes => 'sbquo,lsquo,bdquo,ldquo',
    }
    filter :add_figure_to_img
    layout '/default.*'
  end
end


route '/assets/styles/master.*' do
  '/assets/styles/' + Digest::SHA1.hexdigest(item.raw_content) + '.css'
end

route "/htaccess.*" do
  "/.htaccess"
end

route "/webmention/index.php" do
  "/webmention/index.php"
end

route "/snippets/**/*" do
  nil
end

route '/**/index.*' do
  item.identifier.without_exts + '.html'
end

route '/**/*' do
  # if item.binary? || item.identifier.exts.include?  == 'css'
  if item.binary? || (['css'] & item.identifier.exts).any?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.to_s
  elsif item.identifier.exts.include? 'xml'
    item.identifier.without_exts + '/index.xml'
  else
    # Posts written in 2014 and 2015 have a prefixed number before their slug.
    # Write item with identifier /2014/255-bar/ to /2014/bar/index.html
    # Other posts are not affected by the following gsub regex.
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier.without_exts.gsub(/(201[45]\/)\d{3}-/, "\\1") + '/index.html'
  end
end


layout '/**/*', :haml
