#!/usr/bin/env ruby


preprocess do
  move_post_identifiers
  use_git_data
  generate_yearly_archive sorted_posts, :created_at, "Jahr"
  generate_weekly_archive sorted_posts, :created_at, "KW"
end


ignore '/regal/*'
ignore '/themen/*'


compile "/htaccess" do
  filter :erb
end

compile "/feed/*" do
  filter :erb
end

compile "/snippets/*/" do
  filter :erb
  filter :kramdown
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  elsif ['php'].include? item[:extension]
    # don’t filter excluded filetypes
  else
    filter :erb
    filter :kramdown, {
      :smart_quotes => 'sbquo,lsquo,bdquo,ldquo',
    }
    filter :add_figure_to_img
    layout 'default'
  end
end


route "/htaccess" do
  "/.htaccess"
end

route "/feed/*" do
  item.identifier + "index.xml"
end

route "/snippets/*/" do
  nil
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  elsif item[:extension] == 'php'
    item.identifier + 'index.php'
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end


layout '*', :haml
