aside {
	margin:   1.5rem 0;
	padding:  1.5rem;
	background: #000;
	border-top:    $background-pre solid thin;
	border-bottom: $background-pre solid thin;
}

// This prevents a large gap, when the first element has a large margin to the
// top. The padding to the top is done inside the aside, but if padding is
// used, the margin of the inner element is also applied.
aside > *:first-child {
	margin-top:  0;
}
