html {
	background-color: #efe;
}

body {
	width: 98%;
	max-width: 40rem;
	margin: 1rem auto;
	padding: 1rem;
	box-shadow: 0 0 10px #a88;
	border-radius: 5px;
	background-color: white;
	font-family: 'Ubuntu', monospace;
}


/* Headlines */

h1, h2, h3 {
	// TODO: Clean multiple line headlines (look at :first-line).
	font-family: 'Ubuntu Mono', monospace;
	margin: 1.7em 0 1em 0;
	// TODO: Smaller word spacings in headlines.
	// word-spacing: 0em;
}

h1 {
	font-size: 1.6rem;
	border-top: #ccc dotted thin;
	padding: 0.1em 0;
}

h2 {
	font-size: 1.1rem;
	font-weight: bold;
}

h3 {
	font-size: 0.9rem;
	font-weight: bold;
}

/* Markdown Flavour for Headlines */
h1:before { content: "# "; }
h2:before { content: "## "; }
h3:before { content: "### "; }


/* Body Text */

p, li, pre, form {
	line-height: 1.4;
	margin-top: 0.9em;
}

i, em, u {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

blockquote {
	font-size: 0.9rem;
	padding-left: 1.1rem;
	border-left: #ccc solid thin;
}

/* Links */

a {
	color: #282;
}

a:visited {
	color: #262;
}

a:hover {
	color: #422;
}


/* Bilder */

img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}

a img:hover {
	box-shadow: 0 0 10px #282;
}

/* Listen */

ul, ol {
	padding-left: 1.1rem;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}


/* Code and Pre Elements */

code {
	background-color: #eee;
	font-family: monospace;
}

pre {
	padding: 0.9em 1.1rem;
	background-color: #eee;
	border-top:    #ccc thin solid;
	border-bottom: #ccc thin solid;
}


/* Form Elements */

// TODO: Add better looking and more general design for form elements.

input {
	color: #244;
	width: 70%;
	padding: 0.3em 0.5em;
	border: none;
	border-top:    #eee thin solid;
	border-bottom: #eee thin solid;
}

input[type=submit] {
	color: #fff;
	background-color: #282;
	width: 20%;
	cursor: pointer;
	border-radius: 3px;
}

input[type=submit]:hover {
	background-color: #3a3;
}

input[type=text]:focus {
	border-top:    #ccc thin solid;
	border-bottom: #ccc thin solid;
}

/* Sonstiges */

hr {
	margin: 1.4em 0;
	height: 1px;
	border: none;
	color: #ccc;
	background-color: #ccc;
}
