body {
	width: 98%;
	max-width: 40rem;
	margin: 2rem auto;
	color: $text;
	background-color: $background;
	// TODO: Think about sans-serif font choice.
	font-family: sans-serif;
}


/* Headlines */

header p {
	color: $text-secondary;
}

h1, h2, h3 {
	// TODO: Think about monospace font choice.
	font-family: monospace;
	margin: 1.7em 0 1em 0;
}

h1 {
	font-size: 1.7em;
	margin-top: 2em;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
}

h3 {
	font-size: 0.9em;
	font-weight: bold;
}


/* Body Text */

p, li, pre, form, figure, iframe, dl {
	line-height: 1.5;
}

p, li, pre, form, figure, iframe, dt {
	margin-top: 1em;
}

i, em, u {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

blockquote {
	color: $text-secondary;
	padding-left: 1.5rem;
	border-left: $delimiter solid thin;
}

/* Links */

a {
	color: $link;
	border-bottom: $link-hover dotted thin;
}

h1 a, h2 a, h3 a,
a:visited {
	color: $link-hover;
}

a:hover,
a:focus {
	color: $link-hover;
	border-bottom: $text solid thin;
}

h1 a:hover, h2 a:hover, h3 a:hover,
a:visited:hover {
	color: $link;
}


/* Bilder */

img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}

figcaption {
	margin: 0.3em 0 1.3em 0;
	padding-left: 1.1em;
	color: $text-secondary;
}

/* Listen */

ul, ol {
	padding-left: 1.1em;
}

li {
	padding-left: 0.4em;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}


/* Navigationslisten */

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding: 0;
}

nav ul li + li:before {
	content: " · ";
}


/* Definition Lists */

dl {
	margin-left: 1.5em;
}

dt {
	font-weight: bold;

	&:after {
		content: "?";
	}
}


/* Code and Pre Elements */

code {
	background-color: $background-pre;
	// TODO: Think about monospace font choice.
	font-family: monospace;
}

pre {
	padding: 0.9em 1.1em;
	background-color: $background-pre;
	border-top:    $delimiter thin solid;
	border-bottom: $delimiter thin solid;
}


/* Form Elements */

// TODO: Add better looking and more general design for form elements.

input {
	color: $text;
	background: $background-pre;
	width: 70%;
	padding: 0.3em 0.5em;
	border: none;
	border-top:    $delimiter thin solid;
	border-bottom: $delimiter thin solid;
}

input[type=submit] {
	color: $background;
	background-color: $link;
	width: 20%;
	cursor: pointer;
	border-radius: 3px;
}

input[type=submit]:hover {
	background-color: $link-hover;
}

input[type=text]:focus {
	border-top:    $text-secondary thin solid;
	border-bottom: $text-secondary thin solid;
}

/* Sonstiges */

hr {
	margin: 1.4em 0;
	height: 1px;
	border: none;
	color: $delimiter;
	background-color: $delimiter;
}

iframe[width], iframe[height] {
	max-width:  100%;
	max-height: auto;
}
