* { text-decoration: none; }

body { width: 94vw; margin: 2ch auto; background-color: #fff; color: #111; }

main p { max-width: 70ch; }

a { color: #111; border-bottom: dotted thin #00844a; }

a:hover { background: #cee7ce; border-bottom: #222 solid 2px; }
