* { text-decoration: none; }

body { width: 94vw; margin: 4vh auto; background-color: #111; color: #ccc; }

main p { max-width: 40rem; }

a { color: #ccc; border-bottom: dotted thin #4b4; }

a:hover { color: #4b4; border-bottom: #aaa dotted 2px; }
