@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, u, i, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, figure, figcaption, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-decoration: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

body { line-height: 1; color: #000; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; }

blockquote:before, blockquote:after { content: ""; }

blockquote, q { quotes: "" ""; }

body { width: 94vw; margin: 4vh auto; color: #111; background-color: #fff; font-family: 'Go', sans-serif; }

::selection { background-color: #272; color: #fff; }

::-moz-selection { background-color: #272; color: #fff; }

/* Headlines */
header p { color: #222; }

h1, h2, h3 { margin: 1.7em 0 1em 0; }

h1 { font-size: 1.8em; margin-top: 2em; }

main > header > h1 { margin-top: 0; }

h2 { font-size: 1.2em; font-weight: bold; }

h3 { font-size: 1em; font-weight: bold; }

/* Body Text */
p, li, pre, form, figure, iframe, dl, h1, h2, h3 { line-height: 1.5; }

p, nav, li, pre, form, blockquote, figure, iframe, dt { margin-top: 1em; }

i, em, u, cite { font-style: italic; }

b, strong { font-weight: bold; }

small { font-size: smaller; }

abbr[title] { border-bottom: #aaa dotted medium; }

mark { background-color: #cfc; }

q { quotes: "»" "«" "›" "‹"; }

del { color: #222; text-decoration: line-through; }

blockquote { padding: 0.5rem 1.5rem; border-left: #aaa solid thin; }

blockquote mark { background-color: #222; color: #fff; }

main p { max-width: 40rem; }

/* Links */
a { color: inherit; border-bottom: #272 dotted 1px; }

a:focus, a:hover { background: #cfc; border-bottom: #222 dotted 2px; }

a:hover { border-bottom-style: solid; }

/* Bilder */
img { max-width: 100%; height: auto; border-radius: 3px; }

figcaption { margin: 0.3em 0 1.3em 0; color: #222; }

/* Listen */
ul, ol { padding-left: 1.1em; }

li { padding-left: 0.4em; }

ul li { list-style-type: disc; }

ol li { list-style-type: decimal; }

/* Navigationslisten */
nav ul { list-style-type: none; padding: 0; }

nav ul li { display: inline; padding: 0; margin: 0; line-height: 1.6; }

nav ul li + li:before { content: " · "; }

/* Definition Lists */
dl { margin-left: 1.5em; }

dt { font-weight: bold; }
dt:after { content: "?"; }

dt + dt { margin-top: 0; }

/* Code and Pre Elements */
code { background-color: #eef5ee; font-family: 'Go Mono', monospace; }

pre { padding: 0.9em 1.1em; background-color: #eef5ee; border-top: #aaa thin solid; border-bottom: #aaa thin solid; }

/* Form Elements */
input { color: #111; background: #eef5ee; width: 70%; padding: 0.3em 0.5em; border: none; border-top: #aaa thin solid; border-bottom: #aaa thin solid; }

input[type=submit] { color: #fff; background-color: #272; width: 20%; cursor: pointer; border-radius: 3px; }

input[type=submit]:hover { background-color: #282; }

input[type=text]:focus { border-top: #222 thin solid; border-bottom: #222 thin solid; }

/* Sonstiges */
hr { margin: 1.4em 0; height: 1px; border: none; color: #aaa; background-color: #aaa; }

iframe[width], iframe[height] { max-width: 100%; max-height: auto; }

aside { margin: 3rem 0; padding: 1.5rem 3rem; font-size: smaller; color: #222; border-top: #aaa solid thin; border-bottom: #aaa solid thin; }

footer { color: #222; border-top: #aaa thin solid; margin: 9rem 0; }

footer h1, footer h2, footer h3 { font-size: 1em; font-weight: bold; margin-bottom: 0; }

article.note { margin: 3rem 0; padding: 1.5rem; border: #eef5ee solid thin; background: #15192d; }

article.note h1:first-child { margin: 0; font-size: 1.1rem; }

.list-of-short-posts { padding: 0; margin: 0; }

.short-post-in-list { list-style: none; }

.short-post-in-list time { color: #222; }

.short-post-in-list + .short-post-in-list { padding-top: 1.5em; margin-top: 1.5em; border-top: #aaa thin solid; }

article.note > *:first-child, aside > *:first-child, blockquote > *:first-child, footer > *:first-child { margin-top: 0; }
