---
title: "Ein mehr oder weniger politisches Blog"
---

Herzlich Willkommen auf meiner Blogwiese. Schau dich ruhig um, machs dir
bequem, nehm’ dir einen Kaffee. Ich spreche hier ein paar Themen an, die mir
wichtig sind. Was mich aktuell so beschäftigt siehst du direkt unter dem
folgenden Absatz.

<nav role="navigation"><%= load_snippet "Navigation Homepage" %></nav>


<% count = 4 %>
<% index = 0 %>

<% sorted_articles.each do |article| %>

<% render "article", item: article do %>
  <%= article.compiled_content %>
<% end %>

<% if index == 0 %>
  <aside><%= load_snippet "Empfohlene Artikel" %></aside>
<% end %>

<% if index == 1 %>
  <aside><%= load_snippet "Empfohlene Blogs" %></aside>
<% end %>

<% index += 1 %>
<% break if index == count %>

<% end %>
