footer {
	color: $text-secondary;
	border-left:  $background-pre thin solid;
	border-right: $background-pre thin solid;
	padding: 0 3rem;
	margin: 5rem 0 9rem 0;
}

footer h1,
footer h2,
footer h3 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0;
}
