article.note {
	margin: 3rem 0;
	padding: 1.5rem;
	border: $delimiter solid thin;
	background: $background-pre;
}

article.note h1:first-child {
	// no need for margin here as we have padding inside article.note
	margin: 0;
	font-size: 1.1rem;
}
