// Critical CSS
//
// https://www.npmjs.com/package/criticalcss
// https://bocoup.com/weblog/smaller-faster-websites

@import "colors";

* { text-decoration: none; }

body {
	width: 94vw;
	margin: 4vh auto;
	background-color: $background;
	color: $text;
}

main p {
	max-width: 40rem;
}

a {
	color: $text;
	border-bottom: dotted thin $link;
}
a:hover {
	background: $mark-color;
	border-bottom: $text-secondary solid 2px;
}
