%h1= item[:title]

- if item[:posts] && item[:posts].length > 0
  %ul
    - item[:posts].each do |post|
      = render "partials/short_post_in_list", post: post

- if item[:referenced_tags]
  %h2 Angesprochene Themen
  %p= link_tags item, :referenced_tags
