%h1= item[:title]

- item[:posts].each do |i|
  %p<
    %em= i.linked_date_information
    %br/
    = link_to i[:title], i.path

- if item[:referenced_tags]
  %h2 Angesprochene Themen
  %p= link_tags item, :referenced_tags
