%h1= item[:title]

- if item[:posts] && item[:posts].length > 0
  %ol.list-of-short-posts
    - item[:posts].each do |post|
      = render "/partials/short_post_in_list/", post: @items[post.identifier.to_s]
